<ion-header>
  <ion-toolbar>
    <ion-title>PRUEBA UNO</ion-title>
  </ion-toolbar>
  <ion-back-button>Salir</ion-back-button>
</ion-header>

  <br>
<br>
<br>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-title>Catalogo de productos</ion-title>

    <ion-list>
      <ion-item>
        <ion-select interface="popover" placeholder="Selecciona un producto">
          <ion-select-option value="nombre">Fantastic fresh chair</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

