<br>
<br>
<br>
<ion-content [fullscreen]="true">
  <div id="container">
    <ion-title>PRUEBA UNO</ion-title>
    <div class="ion-padding">Aqui comienza todo</div>
    <br>
    <ion-title>Bienvenido</ion-title>
    <br>
    <ion-label position="floating">Usuario</ion-label>
    <ion-input type="text" name="usuario" maxlength="8" minlenght="3"></ion-input>

    <ion-label position="floating">Contraseña</ion-label>
    <ion-input type="password" name="usuario" minlenght="4"></ion-input>
    <br>
    <ion-button color="medium" expand="full">Ingresar</ion-button>
    <br>
    <ion-button routerlink="['/registro']" fill="clear">Crea una cuenta gratis</ion-button>
    <br>
    <br>
    <br>
    <br>
    <ion-button routerlink="['/olvido']" fill="clear">¿Olvido la contraseña?</ion-button>
  </div>
</ion-content>


